
@{
    Layout = "~/Views/Shared/LayoutNoHeader.cshtml";
    
}



<div class="container-fluid bg-breadcrumb-new" >
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="bg-text-color display-3 mb-4">
            Account Settings
        </h3>
    </div>
</div>

    <main>

        <section class="personal-details">
            <h2>Personal details</h2>
            <p>This information won't be visible for other members.</p>
            <ul>
                <li>
                    <label for="full-name">Full name:</label>
                    <input type="text" id="full-name" name="full-name" disabled>
                </li>
                <li>
                    <label for="email">Email address:</label>
                    <input type="email" id="email" name="email" disabled>
                </li>
                <li>
                    <label for="phone-number">Phone number:</label>
                    <input type="tel" id="phone-number" name="phone-number" disabled>
                </li>
            </ul>
        </section>
        <section class="contact-info">
            <h2>Contact Us</h2>
            <p>For any questions or concerns, please feel free to contact us using the information below:</p>
            <ul>
                <li>
                    <span class="label">Email:</span>
                    <a href="mailto:support@yourcompany.com">support@travela.com</a>
                </li>
                <li>
                    <span class="label">Phone:</span>
                    <a href="tel:+1234567890">+1 (234) 567-890</a>
                </li>
            </ul>
        </section>
    </main>
