@model List<Domain.Entities.Bookings.ADestinations>

@{
    HashSet<string> displayedCountries = new HashSet<string>();
    int tabIndex = 2;
}

<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Destination</h5>
        <h1 class="mb-0">Popular Destination</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
            <li class="nav-item">
                <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                    <span class="text-dark" style="width: 150px;">All</span>
                </a>
            </li>
            @foreach (var dest in Model)
            {
                if (!displayedCountries.Contains(dest.Country))
                {
                    displayedCountries.Add(dest.Country);
                    var tabId = $"tab-{tabIndex}";
                    <li class="nav-item">
                        <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#@tabId">
                            <span class="text-dark" style="width: 150px;">@dest.Country</span>
                        </a>
                    </li>
                    tabIndex++;
                }
            }
        </ul>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (var dest in Model)
                    {
                        <!-- Example content for all destinations, you can customize it as needed -->
                        <div class="col-lg-4">
                            <div class="destination-img">
                                <img class="img-fluid w-100 rounded"src="data:image/png;base64,@Convert.ToBase64String(dest.Img)" style="width: auto; height: 250px" alt="image">
                                <div class="destination-overlay p-4">
                                    <a href="#" class="btn btn-primary text-white rounded-pill border py-2 px-3">20 Photos</a>
                                    <h4 class="text-white mb-2 mt-3">@dest.City</h4>
                                    <a href="#" class="btn-hover text-white">View All Places <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="search-icon">
                                    <a href="~/Content/img/destination-1.jpg" data-lightbox="destination-1"><i class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @{
                tabIndex = 2; // Reset tab index for content
                displayedCountries.Clear(); // Clear the HashSet for reuse
            }
            @foreach (var dest in Model)
            {
                if (!displayedCountries.Contains(dest.Country))
                {
                    displayedCountries.Add(dest.Country);
                    var tabId = $"tab-{tabIndex}";
                    <div id="@tabId" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <!-- Example dynamic content for each country, customize it as needed -->
                            <div class="col-lg-6">
                                <div class="destination-img">
                                    <img class="img-fluid rounded w-100"src="data:image/png;base64,@Convert.ToBase64String(dest.Img)" alt="">
                                    <div class="destination-overlay p-4">
                                        <a href="#" class="btn btn-primary text-white rounded-pill border py-2 px-3">20 Photos</a>
                                        <h4 class="text-white mb-2 mt-3">@dest.City</h4>
                                        <a href="#" class="btn-hover text-white">View All Places <i class="fa fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="search-icon">
                                        <a href="~/Content/img/destination-5.jpg" data-lightbox="destination-5"><i class="fa fa-plus-square fa-1x btn btn-light btn-lg-square text-primary"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    tabIndex++;
                }
            }
        </div>
    </div>
</div>
