@{
    Layout = "~/Views/Shared/LayoutNoHeader.cshtml";
}
@*
@model IEnumerable<App.Models.HomePageModels>
*@
<!-- Carousel Start -->

@{ Html.RenderPartial("Carousel"); }
    <!-- Carousel End -->

<div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
    @{ Html.RenderPartial("SearchBar"); }
</div>

<!-- Destination Start -->
<div class="container-fluid destination py-5">
    @{ Html.RenderPartial("Destination"); }
  
</div>
<!-- Destination End -->
<!-- Explore Tour Start -->
<div class="container-fluid ExploreTour py-5">
  @{ Html.RenderPartial("ExploreTur"); }
</div>
<!-- Explore Tour Ends -->
<!-- Packages Start -->

@{ Html.RenderPartial("PackagePage"); }

<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
  @{ Html.RenderPartial("TurBooking");}
</div>
<!-- Tour Booking End -->